body{
    background-color:  #F5F5F5;
}

#page-container{
    display: grid;
    max-width: 1450px;
    margin: auto;
    grid-template-columns: 300px 1fr;
}

/* ------------------------------------ */

/* Lateral menu */
.lateral-menu{
    position: fixed;
    margin: 25px 0 0 30px;
    padding: 25px 20px 20px;
    background: linear-gradient(0deg, #FFFFFF, #FFFFFF), linear-gradient(0deg, #D2F2B8, #D2F2B8), linear-gradient(0deg, #D2F2B8, #D2F2B8), #D2F2B8;
    border: 1px solid #D9D9D9;
    border-radius: 10px;
}

    /* Filter tool*/

.filter-tool{
    display: flex;
    justify-content: end;
    margin-bottom: 18px;
}

.filter-tool button{
    display: flex;
    align-items: center;
    padding-right: 6px;
    cursor: pointer;
}
.filter-tool img{
    height: 12px;
    margin-right: 13px;
}

.filter-tool p{
    font-weight: 600;
    font-size: 13px;
    color: #415B8A;
}

/* ------------------------------------ */

/* Course Section */

main{
    min-height: 100vh;
    padding: 30px 40px;
}

.course-section{
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* O primeiro valor determina a quantidade de cursos por linha, altere caso necessário*/
    gap: 30px;
    justify-items: center;
}


/* ------------------------------------ */

/* Alterações em componentes */

.favorite-tags{
    margin-bottom: 15px;
}

.favorite-tags ul li{
    height: 37px;
}

.favorite-item{
    cursor: pointer;
}

.pages-menu{
    margin-bottom: 15px;
}
