.button-container{
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.post-button{
    display: inline-flex;
    cursor: pointer;
}

.post-button img{
    margin-right: 10px;
}